/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-SSID {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 28px;
  height: 28px;
}
.icon-eeprom {
  background-image: url(../img/sprite.png);
  background-position: -28px 0px;
  width: 28px;
  height: 28px;
}
.icon-eye-closed {
  background-image: url(../img/sprite.png);
  background-position: 0px -56px;
  width: 24px;
  height: 24px;
}
.icon-eye {
  background-image: url(../img/sprite.png);
  background-position: -24px -56px;
  width: 24px;
  height: 24px;
}
.icon-firmware {
  background-image: url(../img/sprite.png);
  background-position: 0px -28px;
  width: 28px;
  height: 28px;
}
.icon-id {
  background-image: url(../img/sprite.png);
  background-position: -28px -28px;
  width: 28px;
  height: 28px;
}
.icon-protocol {
  background-image: url(../img/sprite.png);
  background-position: -56px 0px;
  width: 28px;
  height: 28px;
}
.icon-serial {
  background-image: url(../img/sprite.png);
  background-position: -56px -28px;
  width: 28px;
  height: 28px;
}
.icon-sync {
  background-image: url(../img/sprite.png);
  background-position: -48px -56px;
  width: 24px;
  height: 24px;
}
